.visits-table {
   border-collapse: collapse;
   margin-bottom: 50px;
}

.visits-table th,
.visits-table td {
   border: 1px solid #ddd; /* Dodaje obramowanie dla każdej komórki */
   padding: 8px; /* Dodaje wypełnienie wewnątrz komórek */
   text-align: left; /* Wyrównuje tekst do lewej */
   width: 100pc;
}

.visits-table th {
   background-color: rgb(50, 50, 64); /* Dodaje kolor tła dla nagłówków */
   color: #fff;
   font-family: adagio_slab;
}

#filter_btn {
   margin-top: 10px;
   padding: 2px 10px;
   font-size: 20px;
   background-color: rgb(50, 50, 64);
   color: #fff; /* Biały napis */
   border: none;
   font-family: adagio_slab;
   border-radius: 5px;
}

#filter_btn:hover {
   background-color: #555; /* Ciemniejsze tło po najechaniu */
}
.button {
   padding: 10px 15px;
   font-size: 14px;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   margin-right: 5px;
}

.button-approve {
   background-color: #28a745;
}

.button-reject {
   background-color: #dc3545;
}

.button:hover {
   opacity: 0.8;
}

.button:focus {
   outline: none;
}
.button-container {
   display: flex;
   gap: 5px; /* Odstęp między przyciskami */
   justify-content: center; /* Wyrównanie przycisków do lewej */
}

.sort {
   max-width: 200px;
}

.overdue-inprogress {
   background-color: red !important;
   font-weight: bold;
}
